@media (max-width: 460px){

/*--- TOPO --------------------------------*/	

/* busca */
header #block-views-exp-search-page-page form label{display: none;}
header #block-views-exp-search-page-page .views-submit-button .form-submit{	
	padding: 10px 8px;
	font-size: 11px;
}


/* carrinho */
header .carrinho #block-commerce-cart-cart .cart-contents table td{	padding: 10px 0;}
header .carrinho #block-commerce-cart-cart .cart-contents .views-field-quantity{display: none;}


/*--- PRINCIPAL -------------------------------*/

/* banner facilidades */
.front #principal .banner-facilidades{display: none;}

/* modelos de smartphones */
.front #principal .menu-modelos ul li{
	width: 100%;
	margin-bottom: 25px;
}



/* LOGIN */
.page-user header,
.page-user #principal,
.page-user .container-principal,
.page-user footer{
	width: 430px; 
	min-width: 430px;
	max-width: 430px;		
	float: left;
}


/* PAGINA DE UM PRODUTO */
.node-type-smartphone .foto-produto{height: 240px;}

.node-type-smartphone .panel-col-first{
	padding: 0;
	margin: 0;	
}	
.node-type-smartphone .panel-col-last{
	padding: 0;
	margin: 0;	
}	




}

